@media screen and (min-width: 1025px) {
    .games {
        width: 80%;
        &-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
@media screen and (max-width: 1024px) {
    .games {
        width: 90%;
        &-container {
            margin-bottom: 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}
@media screen and (max-width: 767px) {
    .games-container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
}

.games {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    h2 {
        font-family: "main-fonts";
        opacity: 0;
        transform: translateX(-200%);
        animation: titleAnim 0.2s 2.3s ease-in forwards;
    }
    &-container {
        position: relative;
        width: 100%;
        display: grid;
        gap: 25px;
        @for $i from 1 through 4 {
            > div:nth-child(#{$i}) {
                transform: translateX(-500%);
                opacity: 0;
                animation: gameAnim 0.35s ease-in forwards;
                animation-delay: (4 - $i * 0.2s) - 0.5;
            }
        }
    }
}
