.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: "main-fonts";
        font-size: 10vh;
        @for $i from 1 through 8 {
            span:nth-child(#{$i}) {
                opacity: 0;
                animation: letterAnim 0.6s ease-in forwards;
                animation-delay: $i * 0.15s;
                display: inline-block;
            }
        }
    }
    .bg-circle {
        position: absolute;
        height: 28vh;
        width: 28vh;
        border-radius: 50%;
        background-color: $bg-clr-2;
        z-index: -1;
        transform: scale(0);
        animation: grow 0.3s ease-in forwards;
    }
}
