@font-face {
    font-family: "main-fonts";
    src: url("/fonts/Nabla-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "txt-fonts";
    src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
